@tailwind base;
  @tailwind components;
  @tailwind utilities;

  
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

/* slider css use section */
/* Adjusting navigation button size for mobile and desktop */
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #1D294F; /* Change button color to red */
  transition: all 0.3s;
}
.mySwiper .swiper-pagination-bullet {
  background-color: #F68921; /* Change bullet color to red */
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 1.5rem; /* Default size for larger screens */
}

@media (min-width: 1024px) { /* lg */
  .custom-swiper-button {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1280px) { /* xl */
  .custom-swiper-button {
    width: 70px;
    height: 70px;
  }
}

  .mySwiper .swiper-button-next {
    right: 20px;
    background-color: rgba(211, 211, 211, 0.8); /* Adjusted opacity */
    width: 50px; /* Set equal width and height */
    height: 50px;
    border-radius: 50%; /* Make it circular */
    display: flex;
    align-items: center;
    justify-content: center;
}
.mySwiper .swiper-button-next:hover {
  background-color: #F68921; /* Change background color on hover */
}

/* If you want the same for the previous button */
.mySwiper .swiper-button-prev {
    left: 20px;
    background-color: rgba(211, 211, 211, 0.8); /* Adjusted opacity */
    width: 50px; /* Set equal width and height */
    height: 50px;
    border-radius: 50%; /* Make it circular */
    display: flex;
    align-items: center;
    justify-content: center;
}
.mySwiper .swiper-button-prev:hover {
  background-color: #F68921; /* Change background color on hover */
}


/* Navbar css use section */
a.from-after:hover:after { transform: scaleX(1); }
a:after {
  display:block;
  content: '';
  width: inherit;
  border-bottom: solid 2px #F68921;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  padding-top: 7px;
}

a.from-after:hover:after { transform: scaleX(1); }


.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the navbar is above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
}




.play-icon path {
  transition: fill 0.3s ease-in-out;
}

.play-icon:hover path {
  fill: #F68921; /* Change the fill color on hover */
}




:root {
  --color-primary: #5cb85c;
  --color-primary-rgb: 92, 184, 92;
  --color-secondary: #333;
  --color-secondary-rgb: 51, 51, 51;
  --color-white: #fff;
}



/* Service section */
.services .img {
  border-radius: 8px;
  overflow: hidden;
}

.services .img img {
  transition: 0.6s;
}

.services .details {
  padding: 50px 30px;
  margin: -100px 30px 0 30px;
  transition: all ease-in-out 0.3s;
  background: var(--color-white);
  position: relative;
  background: rgba(var(--color-white-rgb), 0.9);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgba(var(--color-black-rgb), 0.1);
  min-height: 250px;
}
.services .details .icon {
  margin: 0;
  width: 72px;
  height: 72px;
  background: var(--color-primary);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--color-white);
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border: 6px solid var(--color-white);
}

.services .details h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.services .details p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item:hover .details h3 {
  color: var(--color-primary);
}

.services .service-item:hover .details .icon {
  background: var(--color-white);
  border: 2px solid var(--color-primary);
}

.services .service-item:hover .details .icon i {
  color: var(--color-primary);
}

.services .service-item:hover .img img {
  transform: scale(1.2);
}





.card{
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
}

.card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-body{
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.card:hover .card-body{
  right: 0;
}

.card-title{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}

.card-sub-title{
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info{
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.card-btn{
  color: #1f3d47;
  background: #8fabba;
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

/* Faq  section*/

